body {
    background-color: #f0f0f0;
    margin: 0; /* マージンを0に設定 */
    padding: 0; /* パディングを0に設定 */
    font-size: 16px; /* デフォルトフォントサイズを設定 */
}

/* アイコンのスタイル設定 */
.bi {
    color: #007BFF;
}

/* 名前のスタイル設定 */
.name {
    font-size: 5rem;
    font-weight: bold;
    color: #333;
}


/* 下部のアイコンのスタイル設定 */
.icon-wrapper1 {
    font-size: 7rem;
    margin-top: 125px; /* 下部のアイコンの上部の余白を設定 */
    margin-bottom: 20px; /* 下部のアイコンの下部の余白を設定 */
    margin-right: 200px; /* アイコン間の右側の余白を設定 */
}

.icon-wrapper2 {
    font-size: 7rem;
    margin-top: 125px; /* 下部のアイコンの上部の余白を設定 */
    margin-bottom: 20px; /* 下部のアイコンの下部の余白を設定 */
}

.icon-wrapper3 {
    font-size: 7rem;
    margin-top: 125px; /* 下部のアイコンの上部の余白を設定 */
    margin-bottom: 20px; /* 下部のアイコンの下部の余白を設定 */
    margin-left: 200px; /* アイコン間の右側の余白を設定 */
}

.icon-wrapper4{
    font-size: 7rem;
    margin-top: 125px; /* 下部のアイコンの上部の余白を設定 */
    margin-bottom: 20px; /* 下部のアイコンの下部の余白を設定 */
    margin-left: 200px; /* アイコン間の右側の余白を設定 */
}

.col-auto{
    font-size: 7rem;
}


/* コンテナのスタイル設定 */
.container-fluid {
    text-align: center;
    padding: 50px; /* 上部、下部のパディングを設定 */
}

.logout {
    font-size: 3rem;
    position: fixed;
    top: 0%;
    right: 2%;  /* 右からの距離を調整 */
    /*z-index: 1000;  !* ページ上の他の要素よりも手前に表示 *!*/
}


